In [1]:
print("Hello World")

Hello World

In [4]:
if 3 == 3:
    print("Equal")
else:
    print("3 is not equal to 2")

Equal

In [8]:
car_name = "Alto"
print(car_name)

Alto

In [14]:
# This is Single Line Comment? 
"""
Hehehe
This is Multi Line Comment
"""

print("Hello Commenting World?")

Hello Commenting World?

In [23]:
a = str(3)
b = int(3)
c = float(3)

print('Value of a is: ',a , 'Type: ', type(a) )
print(b)
print(c)

Value of a is:  3 Type:  <class 'str'>
3
3.0

In [25]:
x, y, z = 1, 2, 3
print(x, y, z)

1 2 3

In [27]:
fruits = ['apple', 'mango', 'banana']
x, y, z = fruits
print(x, y, z)

apple mango banana

In [33]:
x = 'JavaScript '
y = 'is better than '
z = 'Python '

print( x + y + z)
print( z + y + x)

JavaScript is better than Python
Python is better than JavaScript

In [36]:
x = 'Devendra'

def print_my_name():
    x = "Dev"
    print("My Name is ", x)

print(x)
print_my_name()

Devendra
My Name is  Dev

In [41]:
def print_my_name():
    global x_name 
    x_name = "Dev"
    print("My Name is ", x_name)

print_my_name()
print(x_name)

My Name is  Dev
Dev

In [134]:
# for(start, stop, increment)
# increment means how the value should increase, decrease and travers.
for x in range(9, 0, -1):
    print(x)

# fruit_banana = "banana"
# for x in fruit_banana:
#     print(x)

9
8
7
6
5
4
3
2
1

In [72]:
my_arr = [1 , 2]
print(my_arr)
print(type(my_arr))
my_arr.append('Dev')
print(my_arr)
print(type(my_arr))

# Arrays do not exist in vanilla Python.

[1, 2]
<class 'list'>
[1, 2, 'Dev']
<class 'list'>

In [89]:
my_set = {"dev", "parth", "manoj"}
print(my_set)

print(my_arr[1])

my_name = bytearray(1)
print(my_name)
print(type(my_name))

{'dev', 'parth', 'manoj'}
2
bytearray(b'\x00')
<class 'bytearray'>

In [91]:
girlfriend = None
print(girlfriend)
print(type(girlfriend))

None
<class 'NoneType'>

In [98]:
d = 4.1
# Converting Float to int results in ignoring the value after decimal
print(int(d))

4

In [103]:
e = '92'
e = int(e)
print(type(e))

<class 'int'>

In [113]:
test_str = "Python is a object oriented programming language."

# Python is case sensitive.

if 'javascript' in test_str:
    print('javascript is present')
else:
    print('javascript is not present')

# for x in range(0, len(test_str)-1):
#     print(test_str[x])

javascript is not present

In [16]:
b = "Hello, World!"
print(b[-5:]) # Running till the end
print(b[-5:13]) # Using +ive Index
 
# Upper limit is not included in the range so to counter that we can use string len or let it run till the end.

orld!
orld!

In [24]:
hello_world = "         Hello , World!                 "
print(hello_world.strip()) # Removes the whitespace before and after the final character but not the whitespaces used in between

Hello , World!

In [25]:
print(hello_world.replace("H", "D"))
print(hello_world.split( ","))

         Dello , World!
['         Hello ', ' World!                 ']

In [28]:
first_name = "Devendra"
last_name = "Mishra"
print(first_name + last_name) # Output without Whitespace in betwwen
print(first_name + " " + last_name) # Output with Whitespace in betwwen

DevendraMishra
Devendra Mishra

In [32]:
price = 69

txt = f" The Price for that Azure Account is ${price}. "
print(txt)

 The Price for that Azure Account is $69.

In [37]:
print(f"The Price for that Azure Account is ${price:.2f}") #Format Strings with placeholder and Modifier 

# We can use format strings used as f"<string>" as alternate or Python Adaptation for ``

The Price for that Azure Account is $69.00

In [38]:
print(f"Price for that Toy is ${10*2}, and the total price for 2 Toys is ${10*2*2}")
# We can use expressions inside the format strings
#

Price for that Toy is $20, and the total price for 2 Toys is $40

In [48]:
# To Print some illegal character/symbol in python escape it with backslash `\`
print("We are the so-called \"Vikings\" from the north.")

We are the so-called "Vikings" from the north.

In [54]:
# Returns True if the specified object is of the specified type, otherwise False.
print(isinstance("69", int))
print(isinstance(69, int))

False
True